<!DOCTYPE html>
<html>
<head>
    <title>Translate</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    
</head>
<body>    
<div class="content text-center m-5">
    <h1>Translate the words bellow</h1><br>
<form method="post">
    {% csrf_token %}
   
    <input type="text" name="translate" required>
    <br><br>
    <select required name="language">
        <option value="Hindi">Hindi</option>
        <option value="Marathi">Marathi</option>
        <option value="German">German</option>
        <option value="Portuguese">Portuguese</option>
        <option value="Arabic">Arabic</option>

    </select>
    <br><br>
    <button class="btn btn-primary" type="submit">Translate</button>
</form>
</div>
</body>
</html>
